.margin-top-50{
    margin-top: 50px;
}

.margin-top-20{
    margin-top: 20px;
}

.ban-red{
    color: red;
}

.check-green{
    color: green;
}

.copy-grey{
    color : gray;
}

.form-control-length{
    text-align: center;
    width: 200px !important;
}

.text-align-left{
    text-align: right;
}

.text-align-cente{
    text-align: center !important;
}